[submodule "docs/proposal"]
	path = docs/proposal
	url = https://git.overleaf.com/68ea74b5199f166351aca4d9
[submodule "docs/report"]
	path = docs/report
	url = https://git.overleaf.com/68ea74b5199f166351aca4d9
